<template name="headerSpreadsheet">
    <div class="navbar navbar-jbl42 navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'spreadsheetList'}}">blucalc</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav inputSpreadsheet">
                    <a type="button" class="btn-edit-name">{{name}}</a>
                </ul>

                <ul class="nav navbar-nav inputSpreadsheet">
                    {{#each userOnline}}
                        <li>
                            <div class='square' style="background-color: {{color}}"><span>{{ email }}</span></div>
                        </li>
                    {{/each}}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </div>
</template>