<template name="landing">
  <div class="landing-background-top">
    <div class="container">
      <div class="row">
        <div class="inner">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <div class="text">
              <h1>Spreadsheet. Revisited.</h1>
              <h2>No account yet?</h2>
              <a href="{{pathFor 'register'}}" class="register">register</a>
              <a href="{{pathFor 'login'}}" class="login">or login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row landing-bottom">
      <div class="col-md-4">
        <div class="text">
          <h2>Save / Find / View</h2>
          <ul>
            <li class="list"><i></i>Saved search</li>
            <li class="add"><i></i>Fast insert c'est cool</li>
            <li class="search"><i></i>Search by tag(s) or title</li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>
</template>