<template name="landing">
  <div class="landing-background-top">
    <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
            <h1>blucalc - a spreadsheet PoC base on <a href="http://wijmo.com/products/spreadjs/">SpreadJS</a> & <a href="http://meteor.com/">meteorjs</a>.</h1>
            <h2>No account yet?</h2>
            <a href="{{pathFor 'register'}}" class="register">register</a>
            <a href="{{pathFor 'login'}}" class="login">or login</a>
          </div>
      </div>
    </div>
  </div>

</template>