<template name="layout">
  <div class="container-fluid">
    {{> header}}
    <div id="main">
      {{> yield}}
    </div>
  </div>
</template>


<template name="layoutSpreadsheet">
  <div class="container-fluid">
    {{> headerSpreadsheet}}
    <div id="main">
      {{> yield}}
    </div>
  </div>
</template>


<template name="layoutLanding">
  <div class="container">
    {{> headerLanding }}
  </div>
  {{> yield}}
</template>


<template name="layoutLogin">
  <div class="container">
    {{> headerLanding }}
  </div>
  {{> yield}}
</template>


<template name="layoutRecovery">
  <div class="container">
    {{> headerLanding }}
  </div>
  {{> yield}}
</template>