<template name="layout">
  <div class="container-fluid">
      {{> header}}
      <div id="main">
          {{> yield}}
      </div>
  </div>

  <div class="footer">
    <div class="container">
      <p class="text-footer">Copyright © 2015 <a href='http://jbl42.com'>JBL42 SAS</a></p>
    </div>
  </div>
</template>

<template name="layoutSpreadsheet">
  <div class="container-fluid">
      {{> headerSpreadsheet}}
      <div id="main">
          {{> yield}}
      </div>
  </div>

  <div class="footer">
    <div class="container">
      <p class="text-footer">Copyright © 2015 <a href='http://jbl42.com'>JBL42 SAS</a></p>
    </div>
  </div>
</template>
