<template name="spreadsheet">
  <div class="row">
    <div class="col-md-12 spread-header">
      <div class="toolbar">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-currency">€</button>
          <button type="button" class="btn btn-default btn-general">General</button>
          <button type="button" class="btn btn-default btn-background-color">A</button>
          <input type="color" class="btn-toolbar-spread color-background" value="#FFFFFF" title="Color background" />
          <button type="button" class="btn btn-default btn-foreground-color">F</button>
          <input type="color" class="btn-toolbar-spread color-foreground" value="#FFFFFF" title="Color foreground" />
          <button type="button" class="btn btn-clear-style" title="Clear style">Clear S</button>
          <button type="button" class="btn btn-align-left"><i class="fa fa-align-left"></i></button>
          <button type="button" class="btn btn-align-center"><i class="fa fa-align-justify"></i></button>
          <button type="button" class="btn btn-align-right"><i class="fa fa-align-right"></i></button>
          <button type="button" class="btn btn-insert-col">Insert Col</button>
          <button type="button" class="btn btn-remove-col">Remove Col</button>
          <button type="button" class="btn btn-insert-row">Insert Row</button>
          <button type="button" class="btn btn-remove-row">Remove Row</button>
          <button type="button" class="btn btn-bold"><i class="fa fa-bold"></i></button>
          <button type="button" class="btn btn-italic"><i class="fa fa-italic"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row"> 
    <div class="col-md-12">
      <div id="formulaBar" contenteditable="true" spellcheck="false" style="border: 1px solid gray;height: 21px; width: 99%; overflow: hidden; font-size: 13px;font-family: arial,sans-serif;padding: 3px;margin-bottom: 5px;"></div> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="grid"></div>
    </div>
  </div>
</template>