<template name="spreadsheet">
  <div class="row">
    <div class="col-md-12 spread-header">
      <div class="toolbar">
        <span>{{ name }}</span>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-currency">Currency</button>
          <button type="button" class="btn btn-default btn-general">General</button>
          <button type="button" class="btn btn-default btn-invite">Invite Friend</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="grid"></div>
    </div>
  </div>
</template>